# Python virtual env
.venv/

# Python caches/info
__pycache__/
*.egg-info/

# SQLite database
sql_db.*

# Workspace settings
.vscode/

# Certificate files
*.pem

# Alembic (for now)
alembic/
alembic.*