.pin-popup {
    position: fixed;
    top: 70%;
    left: 50%;
    z-index: 90;
    transform: translate(-50%, -50%);
    width: 335px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 16px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 24px;
}

.pin-popup .title {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

.pin-popup .subtitle {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #8E8E8E;
}

.popup-friends {
    color: #8E8E8E;
    font-size: 14px;
    font-weight: 500;
}

.popup-friends button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #1A83FF;
}

.popup-friends button:hover {
    cursor: pointer;
    color: #0069d9;
}

.popup-button {
    font-family: 'Inter', sans-serif;
    padding: 20px 14px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
}

.popup-button.log {
    background-color: #1A83FF;
    color: #fff;
}

.popup-button.log:hover {
    background-color: #0069d9;
    cursor: pointer;
}

.popup-button.logged {
    background-color: #EDF5FF;
    color: #1A83FF;
    text-align: center;
}

.close-pin-popup {
    position: fixed;
    top: 6px;
    right: 6px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.recommend-buttons-container {
    display: flex;
    gap: 8px;
}

.recommend-button {
    border: none;
    color: #C5C5C7;
    border-radius: 8px;
    border: 1px solid #C5C5C7;
    background: none;
    padding: 18px 0;
    flex-grow: 1;
    cursor: pointer;
}

.recommend-button.selected {
    color: #1A83FF;
    border: 1px solid #89BFFF;
    background: #D9EAFF;
}