.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    width: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    background-color: white;
    border-radius: 16px;
    overflow-y: auto;
}

.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.close-popup {
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0px;
    border: none;
    font-size: 16px;
}

.close-popup:hover {
    color: #00000099;
    cursor: pointer;
}

.popup h2 {
    margin-top: 0;
    font-size: 20px;
    font-weight: 500;
}

.popup form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.popup input {
    margin-bottom: 16px;
}

.input-box {
    padding: 20px 14px;
    border-radius: 8px;
    border: 1px solid #C5C5C7;
    background: #FFF;
    font-size: 16px;
}

.popup button[type="submit"] {
    padding: 20px 14px;
    border: none;
    background-color: #1A83FF;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: 500;

}

.popup button[type="submit"]:hover {
    background-color: #0069d9;
}

.switch-form {
    align-self: center;
    margin-top: 30px;
}

.switch-form button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    color: #1A83FF;
}

.switch-form button:hover {
    cursor: pointer;
}

.confirmnote {
    margin: 5px 0;
    background-color: #d37e04;
    color: white;
    font-size: 14px;
    border-radius: 3px;
    padding: 5px;
    align-items: center;
}

.confirmnote span {
    padding-left: 3px;
}

.errMsg {
    margin: 5px 0;
    background-color: #e78e8e;
    color: #700c0c;
    padding: 5px;
}