* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}

/* Line breaks */
hr {
    margin: 0;
    height: 1px;
    width: 100%;
    border: 0;
    border-top: 1px solid #EEEEF0;
}

.map-container {
    width: 100%;
    height: 100dvh;
}

.marker {
    background-image: url('https://docs.mapbox.com/help/demos/custom-markers-gl-js/mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.menu-bar {
    position: absolute;
    top: 0;
    z-index: 100;
    background-color: white;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-bar img {
    height: 30px;
    cursor: pointer;
}

.searchbar {
    position: absolute;
    top: 80px;
    z-index: 99;
    background-color: white;
    width: 100%;
    height: 90px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    transition: 0.3s;
}

.closed {
    height: 0;
    padding: 0 20px;
    overflow: hidden;
}

.open-menu-button {
    position: fixed;
    left: 20px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

/* Mapbox controls style override */
#geocoder-container .mapboxgl-ctrl, #geolocate-container .mapboxgl-ctrl {
    box-shadow: none;
    border: 1px solid #C5C5C7;
    border-radius: 8px;
    background: #FFF;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#geocoder-container .mapboxgl-ctrl {
    width: auto;
}

/* Override geolocator box shadow */
.mapboxgl-ctrl-group:not(:empty) {
    box-shadow: none;
}

/* Geolocate container override */
#geolocate-container div {
    width: 52px;
}

/* Geolocate button override */
#geolocate-container div button {
    background-color: transparent;
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.background-overlay.login-bg {
    z-index: 999;
    backdrop-filter: blur(3px);
}

.userpin-button {
    position: fixed;
    bottom: 20px;
    left: 45%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

/* Optionally, you can add some hover effects */
.userpin-button:hover {
    background-color: #0056b3;
    /* Set a different background color on hover */
}

.userpin-inputs-container {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/* You can add additional styles to the inputs and buttons if needed */
.userpin-inputs input {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;

}

.userpin-inputs button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    /* Optional: You can add rounded edges to the buttons */
    cursor: pointer;
    margin-right: 5px;
}

.userpin-inputs button:last-child {
    margin-right: 0;
}