* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}

.map-container {
    width: 100%;
    height: 100dvh;
}

/* .marker {
    background-image: url('https://docs.mapbox.com/help/demos/custom-markers-gl-js/mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
} */

#top-bar {
    position: absolute;
    top: 0;
    background-color: white;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.geo-container {
    margin: 0 auto;
}

/* .menu-button {} */

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    /* Adjust the alpha value for the desired opacity */
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust the blur radius as needed */
    backdrop-filter: blur(3px);
    /* Allow click events to pass through the overlay to the form */
    /* pointer-events: none; */
}

.userpin-button {
    position: fixed;
    bottom: 20px;
    /* Adjust the value as per your requirement */
    right: 20px;
    /* Adjust the value as per your requirement */
    padding: 10px;
    background-color: #007bff;
    /* Set the background color */
    color: #fff;
    /* Set the text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Optionally, you can add some hover effects */
.userpin-button:hover {
    background-color: #0056b3;
    /* Set a different background color on hover */
}

.userpin-inputs-container {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;

    /*Adjustthevaluetocontroltheroundnessofedges*/

}

/* You can add additional styles to the inputs and buttons if needed */
.userpin-inputs input {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* Optional: You can add rounded edges to the inputs */
}

.userpin-inputs button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    /* Optional: You can add rounded edges to the buttons */
    cursor: pointer;
    margin-right: 5px;
}

.userpin-inputs button:last-child {
    margin-right: 0;
}