.sidebar {
    height: 100%;
    width: 0;
    background-color: #fff;
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 1;
    transition: 0.3s;
    overflow-x: hidden;
}

.sidebar.open {
    width: 200px;
}